* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: #fff;
}

body {
    background: #000;
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 a {
    font-family: "Ethnocentric Regular";
    font-size: 3rem;
    cursor: pointer;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:hover {
    color: #3eeaea;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: #3eeaea;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
}

